/*
    Styling in this and other .scss files will be compiled by the sbt-sass-compiler plugin: https://github.com/hmrc/sbt-sass-compiler
    If you encounter any issue with Sass compilation using the plugin, please reach out to the PlatUI team.
 */

.text-overflow{
  overflow-wrap: break-word;
}

.js-visible {
  display: none !important;
}

.js-enabled .js-visible {
  display: inline-block !important;
}

.long-word {
  word-wrap: break-word;
}

.long-word-legend {
  word-break: break-word;
}

dd.govuk-summary-list__actions.hmrc-summary-list__actions {
  width: 18% !important;
}

.govuk-heading-l,
.govuk-heading-m,
.govuk-body,
.govuk-tag,
.govuk-fieldset__legend,
.govuk-fieldset__heading,
.govuk-summary-list__value,
.govuk-summary-list__key {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
